@import "tailwindcss";

* {
    color: #DEF;
}

.svg {
    min-width: 24px;
    flex-shrink: 0;
}

.svg:hover {
    cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }