@import "tailwindcss";

* {
	color: #def;
}

.svg {
	min-width: 24px;
	flex-shrink: 0;
}

.svg:hover {
	cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#language-selection-container div::-webkit-scrollbar {
    width: 13px;
    background-color: oklch(0.278 0.033 256.848);
}

#language-selection-container div::-webkit-scrollbar-track {
    background-color: oklch(0.379 0.146 265.522);
    border-bottom-right-radius: 1rem;
    padding-bottom: 20px;
}

#language-selection-container div::-webkit-scrollbar-thumb {
    border: 3.5px solid oklch(0.379 0.146 265.522);
    height: 10px;
    background-color: #def;
    border-radius: 1000px;
}