@import "tailwindcss";

* {
	color: #def;
}

.svg {
	min-width: 24px;
	flex-shrink: 0;
}

.svg:hover {
	cursor: pointer;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#language-selection::-webkit-scrollbar {
    width: 13px;
}

#language-selection::-webkit-scrollbar-track {
    background-color: oklch(0.282 0.091 267.935);
}

#language-selection::-webkit-scrollbar-thumb {
    border: 3.5px solid oklch(0.282 0.091 267.935);
    height: 10px;
    background-color: #def;
    border-radius: 1000px;
}